@layer state {
  body.is-recipe-page {
    .site-footer {
      display: none;
    }

    @media (width < 769px) {
      .tabbar--main {
        display: none;
      }
    }
  }

  body.cook-mode-open {
    overflow: hidden;

    .tabbar,
    .mobile-brand {
      display: none;
    }
  }
}
